button {
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center; 
}
button.size-mid {
	height:100px;
	width:140px;
}
button.img-idk { background-image:url("Images/IDK.png");}
button.img-wood { background-image:url("Images/Wood-Sprite.png");}
button.img-stone { background-image:url("Images/Stone-Sprite.png");}
button.img-vine { background-image:url("Images/Vine-Sprite.png");}